/* Typography */

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

:root {
    --background: #8C7961;
    --highlight: #F2F2F2;
    --light: #D9CEAD;
    --medium: #BFA87E;
    --dark: #8C774F;
}

header {
    background-color: var(--light);
    padding: 0;
    margin: 0;
}

/* Parrallax */

.parrallax {
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

 .beaver01 {
    background-image: url("images/beaver01.jpg");
 }

 .beaver02 {
    background-image: url("images/beaver02.jpg");
 }

 .beaver03 {
    background-image: url("images/beaver03.jpg");
 }

 .beaver04 {
    background-image: url("images/beaver04.jpg");
 }

 .beaver05 {
    background-image: url("images/beaver05.jpg");
 }

 .beaver06 {
    background-image: url("images/beaver06.jpg");
 }

 .beaver07 {
    background-image: url("images/beaver07.jpg");
 }

 /* Navigation */







/* Media Query */

@media (min-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header {
        display: flex;
        width: 100%;
    }
}