/* Typography */

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

:root {
    --background: #8C7961;
    --highlight: #F2F2F2;
    --light: #D9CEAD;
    --medium: #BFA87E;
    --dark: #8C774F;
}

header {
    background-color: var(--light);
    padding: 0;
    margin: 0;
}

/* Parallax */

.parallax {
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 .beaver01 {
    background-image: url("images/beaver01.jpg");
 }

 .beaver02 {
    background-image: url("images/beaver02.jpg");
 }

 .beaver03 {
    background-image: url("images/beaver03.jpg");
 }

 .beaver04 {
    background-image: url("images/beaver04.jpg");
 }

 .beaver05 {
    background-image: url("images/beaver05.jpg");
 }

 .beaver06 {
    background-image: url("images/beaver06.jpg");
 }

 .beaver07 {
    background-image: url("images/beaver07.jpg");
 }

 /* Navigation */

#main-menu {
    z-index: 1;
}
#main-menu ul {
    list-style-type: none;
}
#main-nav li {
    
}
#main-nav a {
    text-decoration: none;
}

/* Body */

img {

    max-width: 90%;
    max-height: 90%;
}

.info-section {
    padding: 0 10px;
    margin: 0 10px;
}
.info-section img{
    max-width: 300px;
}

.text-center {
    height: 200px;
}
.columns {
    height: 200px;
}

/* Media Query */

@media (min-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header {
        display: flex;
        width: 100%;
    }

    #main-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}